@import "../bower_components/foundation/scss/normalize.scss";

@import "../bower_components/foundation/scss/foundation/components/global";
@import "../bower_components/foundation/scss/foundation/components/type";
@import "../bower_components/foundation/scss/foundation/components/clearing";
@import "../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../bower_components/foundation/scss/foundation/components/grid";
@import "../bower_components/foundation/scss/foundation/components/block-grid";

@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

* {
	margin: 0; 
	padding: 0; 
}

body {
	width: 100%;
	max-width: 100%;
	position: relative;
	font-family: 'Karla', sans-serif;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-left: 30px;
}

tr { 
	vertical-align: top;
}

li {
	list-style: none;
}

.header{
	border:none;
	.chemin-menu{
		li{
			display: inline-block; vertical-align: top; margin-right: 50px; cursor: pointer; 
			&.active{color: yellow;}
		}
	}
}

#about{
	position: absolute;
}

.entretien { 
	// max-width: 480px;
	// min-width: 200px;
	padding: 10px 50px 50px 30px; 
	overflow: scroll;
	//border :1px solid #000;
	h1{
		font-family: 'Karla', sans-serif;
		font-size: 1.8em;
	  line-height: 1.2em;
	  padding-bottom: 25px;
	  font-weight: bold;
	  width: 300px;
	}
	h2{
		font-family: 'Karla', sans-serif;
		font-size: 1.25em;
		line-height: 1.2em;
		font-weight: bold;
		margin-bottom: 30px;
	}
	p{
		font-size: 1.1em;
		line-height: 1.35em;
	}
}